set relativenumber
set number
set shiftwidth=4
set tabstop=4
set encoding=utf-8
set autoindent
set commentary

let mapleader = " "

" RIDER SHORTCUTS
nnoremap gh :action ShowErrorDescription<CR>

nnoremap <leader>fd :action ReformatCode<CR>
vnoremap <leader>fd :action ReformatCode<CR>

nnoremap <leader>w :action CloseEditor<CR>
nnoremap <leader>s :action SaveDocument<CR>
nnoremap <leader>r :action RenameElement<CR>

nnoremap <leader><leader> :action GotoAction<CR>
nnoremap <leader>m :action FileStructurePopup<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
